In [1]:
from bs4 import BeautifulSoup
import requests

In [4]:
#1.Write a python program to display all the header tags from wikipedia.org.


page = requests.get('https://www.wikipedia.org/')

soup = BeautifulSoup(page.content)
titles = soup.find_all(['h1','h2','h3','h4','h5','h6'])
print('Header tags :', *titles, sep='\n\n')

Header tags :

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

In [5]:
#2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.


def imdb(url):
    Names=[]
    Ratings=[]
    Years=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    name=soup.find_all('td',class_="titleColumn")
    for i in name:
        full_name=i.find('a').get_text()
        Names.append(full_name)
    rating=soup.find_all('td',class_="ratingColumn imdbRating")
    for i in rating:
        Ratings.append(i.text.replace('\n',''))
    year=soup.find_all('span',class_="secondaryInfo")
    for i in year:
        Years.append(i.text.replace('(','').replace(')',''))
    import pandas as pd
    movies=pd.DataFrame({})
    movies['Names']=Names
    movies['Ratings']=Ratings
    movies['Year of Release']=Years
    movies=movies[:100]
    print(movies)
    movies.to_csv('Top_100_imdb_movies.csv')

In [6]:
imdb('https://www.imdb.com/chart/top/')

                                  Names Ratings Year of Release
0              The Shawshank Redemption     9.2            1994
1                         The Godfather     9.2            1972
2                       The Dark Knight     9.0            2008
3                 The Godfather Part II     9.0            1974
4                          12 Angry Men     8.9            1957
..                                  ...     ...             ...
95                               Jagten     8.3            2012
96    M - Eine Stadt sucht einen Mörder     8.3            1931
97                   North by Northwest     8.3            1959
98                              Vertigo     8.2            1958
99  Le fabuleux destin d'Amélie Poulain     8.2            2001

[100 rows x 3 columns]

In [7]:
#3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

def imdb_india(url):
    Names=[]
    Ratings=[]
    Years=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    name=soup.find_all('td',class_="titleColumn")
    for i in name:
        full_name=i.find('a').get_text()
        Names.append(full_name)
    rating=soup.find_all('td',class_="ratingColumn imdbRating")
    for i in rating:
        Ratings.append(i.text.replace('\n',''))
    year=soup.find_all('span',class_="secondaryInfo")
    for i in year:
        Years.append(i.text.replace('(','').replace(')',''))
    import pandas as pd
    movies=pd.DataFrame({})
    movies['Names']=Names
    movies['Ratings']=Ratings
    movies['Year of Release']=Years
    movies=movies[:100]
    print(movies)
    movies.to_csv('Top_100_imdb_indian_movies.csv')

In [8]:
imdb_india('https://www.imdb.com/india/top-rated-indian-movies/')

                          Names Ratings Year of Release
0                      Jai Bhim     8.4            2021
1                    Anbe Sivam     8.4            2003
2                       Golmaal     8.4            1979
3                       Nayakan     8.4            1987
4             Pariyerum Perumal     8.4            2018
..                          ...     ...             ...
95                       Masaan     8.0            2015
96                      Kahaani     8.0            2012
97  Baahubali 2: The Conclusion     8.0            2017
98               Dil Chahta Hai     8.0            2001
99      Maheshinte Prathikaaram     8.0            2016

[100 rows x 3 columns]

In [9]:
#4. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm


page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [10]:
soup = BeautifulSoup(page.content,'html.parser')
import pandas as pd

Name = []
Term = []

name = soup.find_all('div', class_ = 'presidentListing')
for i in name:
    full_name = i.find('h3').text.split("(")[0]
    Name.append(full_name)

term = soup.find_all('div', class_ = 'presidentListing')
for i in term:
    term = i.find('p').text.split("Term of Office:")[1]
    Term.append(term)


df = pd.DataFrame()
df['Name'] = Name
df['Term of office'] = Term
df

,Name,Term of office
0,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [11]:
#5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

#Top 10 ODI Teams - Mens

def top_10_teams(url):
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    team=soup.find_all('span',class_='u-hide-phablet')
    for i in team:
        teams.append(i.text)
    teams=teams[:10]
    #I observed that top row style is different and remaining rows are different
    
    # For top row:
    match_top_row=soup.find_all('td',class_='rankings-block__banner--matches')    
    for i in match_top_row:
        matches.append(i.text)
    # For remaining 9 teams
    match=soup.find_all('td',class_='table-body__cell u-center-text')
    # I am using even indices only for Matches. Will use odd ones for Points.
    for i in range(0,len(match),2):
        matches.append(match[i].text)
    matches=matches[:10]
    
    point_top_row=soup.find_all('td',class_='rankings-block__banner--points')
    #Similarly, I observed that top row style is different and remaining rows are different
    for i in point_top_row:
        points.append(i.text)
    # For remaining 9 teams
    point=soup.find_all('td',class_='table-body__cell u-center-text')
    # I am using odd indices only for Matches. Will use odd ones for Points.
    for i in range(1,len(match),2):
        points.append(point[i].text)
    points=points[:10]
    
    rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    #Similarly, I observed that top row style is different and remaining rows are different
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    # For remaining 9 teams
    rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    
    
    import pandas as pd
    teams_odi=pd.DataFrame({})
    teams_odi['teams']=teams
    teams_odi['matches']=matches
    teams_odi['points']=points
    teams_odi['ratings']=ratings
    return(teams_odi)

In [12]:
df=top_10_teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
df

          teams matches points ratings
0   New Zealand      12  1,505     125
1       England      22  2,756     125
2      Pakistan      19  2,005     106
3         India      22  2,304     105
4     Australia      23  2,325     101
5  South Africa      19  1,872      99
6    Bangladesh      24  2,275      95
7     Sri Lanka      29  2,658      92
8   West Indies      32  2,306      72
9   Afghanistan      18  1,238      69

In [13]:
#Top 10 ODI Batsmen - Mens

def top_10_Batsmen(url):
    players=[]
    teams=[]
    ratings=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    #I have observed top row style is different and remaining rows are different
    
    #First row for Batsman
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)

        
    #Next 9 rows for Batsman
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
    players=players[:10]

   
    #First row for Team
    team=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team:
        teams.append(i.text.replace('\n',''))
        
    #Next 9 rows for Team
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))        
    teams=teams[:10]
    
       
    # First row for Rating
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
        
    # Next 9 rows for Rating
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]

        
    import pandas as pd
    batsmen_odi=pd.DataFrame({})
    batsmen_odi['players']=players
    batsmen_odi['teams']=teams
    batsmen_odi['ratings']=ratings
    return(batsmen_odi)

In [14]:
df=top_10_Batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
df

                 players teams ratings
0             Babar Azam   PAK     892
1            Imam-ul-Haq   PAK     815
2            Virat Kohli   IND     811
3           Rohit Sharma   IND     791
4        Quinton de Kock    SA     789
5            Ross Taylor    NZ     775
6  Rassie van der Dussen    SA     769
7         Jonny Bairstow   ENG     752
8           David Warner   AUS     737
9              Shai Hope    WI     718

In [15]:
#Top 10 ODI Bowlers:

def top_10_Bowler(url):
    players=[]
    teams=[]
    ratings=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    #I have observed top row style is different and remaining rows are different
    
    #First row for Bowler
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)

        
    #Next 9 rows for Bowler
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
    players=players[:10]

   
    #First row for Team
    team=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team:
        teams.append(i.text.replace('\n',''))
        
    #Next 9 rows for Team
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))        
    teams=teams[:10]
    
       
    # First row for Rating
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
        
    # Next 9 rows for Rating
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]

        
    import pandas as pd
    Bowler_odi=pd.DataFrame({})
    Bowler_odi['players']=players
    Bowler_odi['teams']=teams
    Bowler_odi['ratings']=ratings
    return(Bowler_odi)

In [16]:
df=top_10_Bowler('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
df

            players teams ratings
0       Trent Boult    NZ     726
1        Matt Henry    NZ     683
2    Shaheen Afridi   PAK     681
3      Chris Woakes   ENG     680
4    Jasprit Bumrah   IND     679
5    Josh Hazlewood   AUS     679
6  Mujeeb Ur Rahman   AFG     676
7      Mehedi Hasan   BAN     661
8     Mohammad Nabi   AFG     657
9   Shakib Al Hasan   BAN     657

In [17]:
#6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

#Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

def top_10_womens_teams(url):
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    team=soup.find_all('span',class_='u-hide-phablet')
    for i in team:
        teams.append(i.text)
    teams=teams[:10]
    
    #I observed that top row style is different and remaining rows are different
    
    match_top_row=soup.find_all('td',class_='rankings-block__banner--matches')    
    for i in match_top_row:
        matches.append(i.text)
    # For remaining 9 teams
    match=soup.find_all('td',class_='table-body__cell u-center-text')
    # I am using even indices only for Matches. Will use odd ones for Points.
    for i in range(0,len(match),2):
        matches.append(match[i].text)
    matches=matches[:10]
    
    point_top_row=soup.find_all('td',class_='rankings-block__banner--points')
    #Similarly, I observed that top row style is different and remaining rows are different
    for i in point_top_row:
        points.append(i.text)
    # For remaining 9 teams
    point=soup.find_all('td',class_='table-body__cell u-center-text')
    # I am using odd indices only for Matches. Will use odd ones for Points.
    for i in range(1,len(match),2):
        points.append(point[i].text)
    points=points[:10]
    
    rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    #Similarly, I observed that top row style is different and remaining rows are different
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    # For remaining 9 teams
    rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    
    
    import pandas as pd
    teams_odi=pd.DataFrame({})
    teams_odi['teams']=teams
    teams_odi['matches']=matches
    teams_odi['points']=points
    teams_odi['ratings']=ratings
    return(teams_odi)

In [18]:
df=top_10_womens_teams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
df

          teams matches points ratings
0     Australia      29  4,837     167
1  South Africa      32  3,949     123
2       England      30  3,531     118
3         India      29  2,889     100
4   New Zealand      31  3,019      97
5   West Indies      30  2,768      92
6    Bangladesh      12    930      78
7      Pakistan      30  1,962      65
8     Sri Lanka       8    384      48
9       Ireland       8    351      44

In [19]:
#Top 10 women’s ODI Batting players along with the records of their team and rating.

def top_10_women_Batsmen(url):
    players=[]
    teams=[]
    ratings=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    #I have observed top row style is different and remaining rows are different
    
    #First row for Batsman
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)

        
    #Next 9 rows for Batsman
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
    players=players[:10]

   
    #First row for Team
    team=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team:
        teams.append(i.text.replace('\n',''))
        
    #Next 9 rows for Team
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))        
    teams=teams[:10]
    
       
    # First row for Rating
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
        
    # Next 9 rows for Rating
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]

        
    import pandas as pd
    batsmen_odi=pd.DataFrame({})
    batsmen_odi['players']=players
    batsmen_odi['teams']=teams
    batsmen_odi['ratings']=ratings
    return(batsmen_odi)

In [20]:
df=top_10_women_Batsmen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
df

             players teams ratings
0       Alyssa Healy   AUS     785
1     Natalie Sciver   ENG     750
2        Beth Mooney   AUS     748
3    Laura Wolvaardt    SA     713
4        Meg Lanning   AUS     710
5     Rachael Haynes   AUS     701
6  Amy Satterthwaite    NZ     681
7    Smriti Mandhana   IND     669
8     Tammy Beaumont   ENG     659
9       Ellyse Perry   AUS     642

In [21]:
#Top 10 women’s ODI all-rounder along with the records of their team and rating.

def top_10_women_all_rounder(url):
    players=[]
    teams=[]
    ratings=[]
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    #I have observed top row style is different and remaining rows are different
    
    #First row for All-rounder
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)

        
    #Next 9 rows for All-rounder
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
    players=players[:10]

   
    #First row for Team
    team=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team:
        teams.append(i.text.replace('\n',''))
        
    #Next 9 rows for Team
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))        
    teams=teams[:10]
    
       
    # First row for Rating
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
        
    # Next 9 rows for Rating
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]

        
    import pandas as pd
    all_rounder_odi=pd.DataFrame({})
    all_rounder_odi['players']=players
    all_rounder_odi['teams']=teams
    all_rounder_odi['ratings']=ratings
    return(all_rounder_odi)

In [22]:
df=top_10_women_all_rounder('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
df

            players teams ratings
0    Natalie Sciver   ENG     393
1      Ellyse Perry   AUS     374
2   Hayley Matthews    WI     338
3    Marizanne Kapp    SA     338
4       Amelia Kerr    NZ     335
5  Ashleigh Gardner   AUS     269
6     Deepti Sharma   IND     249
7     Jess Jonassen   AUS     245
8         Sune Luus    SA     223
9   Katherine Brunt   ENG     221

In [23]:
#7. Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

#i) Headline ii) Time iii) News Link

def cnbc_news_headline(url):
    Headline=[]
    Time=[]
    Link=[]
    
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    headline=soup.find_all('a',class_ = "LatestNews-headline")
    for i in headline:
        Headline.append(i.text)
        
    time = soup.find_all('span',class_="LatestNews-wrapper")
    for i in time:
        Time.append(i.text)
        
    link = soup.find_all('div',class_ = "LatestNews-headlineWrapper")
    for i in link:
        Link.append(i.a['href'])
        
        
    import pandas as pd
    cnbc_news=pd.DataFrame({})
    cnbc_news['Headline']=Headline
    cnbc_news['Time']=Time
    cnbc_news['Link']=Link
    
    return(cnbc_news)

In [24]:
df=cnbc_news_headline('https://www.cnbc.com/world/?region=world')
df

,Headline,Time,Link
0,China's Xi says Hong Kong is moving 'from chao...,2 Hours Ago,https://www.cnbc.com/2022/07/01/china-xi-says-...
1,Kohl's ends sale talks with Vitamin Shoppe own...,2 Hours Ago,https://www.cnbc.com/2022/06/30/kohls-terminat...
2,Here's what China's real estate debt crisis me...,3 Hours Ago,https://www.cnbc.com/2022/07/01/china-property...
3,Asset manager says the S&P 500 is primed for a...,5 Hours Ago,/pro/
4,Morgan Stanley loves these 9 global stocks tra...,5 Hours Ago,/pro/
5,Japan leads losses in Asia; private survey sho...,5 Hours Ago,https://www.cnbc.com/2022/07/01/asia-markets-c...
6,China has cleared its backlog of Australian co...,6 Hours Ago,https://www.cnbc.com/2022/07/01/china-clears-b...
7,Cramer's lightning round: I like Cadre Holdings,6 Hours Ago,https://www.cnbc.com/2022/06/30/cramers-lightn...
8,Constellation Brands CEO addresses 2 main inve...,6 Hours Ago,/investingclub/
9,Micron warns weakening consumer demand will hu...,7 Hours Ago,https://www.cnbc.com/2022/06/30/micron-warns-w...
10,Jim Cramer says investors can hide in these th...,7 Hours Ago,https://www.cnbc.com/2022/06/30/jim-cramer-say...
11,Cramer: Collapse in crypto shows the Fed’s inf...,7 Hours Ago,https://www.cnbc.com/2022/06/30/cramer-feds-in...
12,Internal Facebook memo warns company must be d...,7 Hours Ago,https://www.cnbc.com/2022/06/30/internal-faceb...
13,American Airlines offers pilots nearly 17% rai...,7 Hours Ago,https://www.cnbc.com/2022/06/30/american-airli...
14,Stock futures slip after the S&P 500’s worst f...,7 Hours Ago,https://www.cnbc.com/2022/06/30/stock-market-f...
15,"Big technology stocks like Tesla, Amazon just...",8 Hours Ago,https://www.cnbc.com/2022/06/30/tech-stocks-q2...
16,Best trades on CNBC Thursday: Where to find sa...,8 Hours Ago,/pro/
17,FCC authorizes SpaceX for Starlink internet se...,8 Hours Ago,https://www.cnbc.com/2022/06/30/fcc-approves-s...
18,EU agrees on landmark regulation to clean up c...,8 Hours Ago,https://www.cnbc.com/2022/06/30/eu-agrees-to-d...
19,Atlassian billionaire co-CEO Scott Farquhar sa...,9 Hours Ago,https://www.cnbc.com/2022/06/30/atlassian-co-c...
20,Bitcoin just had its worst month on record,9 Hours Ago,https://www.cnbc.com/2022/06/30/bitcoin-just-h...
21,PayPal and more: CNBC's 'Halftime Report' trad...,10 Hours Ago,/pro/
22,Climate change anxiety is a real condition—her...,10 Hours Ago,https://www.cnbc.com/2022/06/30/climate-change...
23,"GM, Ford rising, Tesla falling in EV 'car wars...",10 Hours Ago,/pro/
24,Ex-Apple exec Johnson's Enjoy Technology files...,10 Hours Ago,https://www.cnbc.com/2022/06/30/ex-apple-exec-...
25,"Constellation shares fall after earnings beat,...",11 Hours Ago,/investingclub/
26,This was the market's worst first half in 50 y...,12 Hours Ago,https://www.cnbc.com/2022/06/30/the-markets-wo...
27,IRA rollovers often come with higher fees: How...,12 Hours Ago,https://www.cnbc.com/2022/06/30/rollover-iras-...
28,"Natural gas drops 16%, posts worst month in mo...",12 Hours Ago,https://www.cnbc.com/2022/06/30/natural-gas-dr...
29,The housing shortage is starting to ease after...,12 Hours Ago,https://www.cnbc.com/2022/06/30/housing-shorta...

In [25]:
#8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

#https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details : i) Paper Title ii) Authors iii) Published Date iv) Paper URL

def AI(url):
    Title=[]
    Authors=[]
    Date=[]
    Link=[]
    
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    title=soup.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
    for i in title:
        Title.append(i.text)
        
    authors = soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT")
    for i in authors:
        Authors.append(i.text)
        
    date = soup.find_all('span',class_="sc-1thf9ly-2 bKddwo")
    for i in date:
        Date.append(i.text)
        
    link = soup.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")
    for i in link:
        Link.append(i.a['href'])
        
        
    import pandas as pd
    AI=pd.DataFrame({})
    AI['Paper Title']=Title
    AI['Authors']=Authors
    AI['Published Date']=Date
    AI['Paper URL']=Link
    
    return(AI)

In [26]:
df=AI('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [27]:
#9. Write a python program to scrape mentioned details from dineout.co.in :

#i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

def Dineout(url):
    Name=[]
    Cuisine=[]
    Location=[]
    Ratings=[]
    Image=[]
    
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    name=soup.find_all('div',class_="restnt-info cursor")
    for i in name:
        Name.append(i.text)
        
    cus = soup.find_all('span',class_="double-line-ellipsis")
    for i in cus:
        Cuisine.append(i.text.split('|')[1])
        
    loc = soup.find_all('div',class_="restnt-loc ellipsis")
    for i in loc:
        Location.append(i.text)
        
    rating = soup.find_all('div',class_="restnt-rating rating-4")
    for i in rating:
        Ratings.append(i.text)
        
    image = soup.find_all('img',class_="no-img")
    for i in image:
        Image.append(i['data-src'])
        
        
    import pandas as pd
    Dineout=pd.DataFrame({})
    Dineout['Restaurant name']=Name
    Dineout['Cuisine']=Cuisine
    Dineout['Location']=Location
    Dineout['Ratings']=Ratings
    Dineout['Image URL']=Image
    
    return(Dineout)

In [28]:
df=Dineout('https://www.dineout.co.in/delhi-restaurants/buffet-special')
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad",North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [29]:
#10. Write a python program to scrape the details of top publications from Google Scholar from

#https://scholar.google.com/citations?view_op=top_venues&hl=en i) Rank ii) Publication iii) h5-index iv) h5-median

def Scholar(url):
    Rank=[]
    Publication=[]
    Index=[]
    Median=[]
    
    
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    
    rank=soup.find_all('td',class_="gsc_mvt_p")
    for i in rank:
        Rank.append(i.text)
        
    publ = soup.find_all('td',class_="gsc_mvt_t")
    for i in publ:
        Publication.append(i.text)
        
    index = soup.find_all('a',class_="gs_ibl gsc_mp_anchor")
    for i in index:
        Index.append(i.text)
        
    median = soup.find_all('span',class_="gs_ibl gsc_mp_anchor")
    for i in median:
        Median.append(i.text)
        
           
        
    import pandas as pd
    Scholar=pd.DataFrame({})
    Scholar['Rank']=Rank
    Scholar['Publication']=Publication
    Scholar['h5-index']=Index
    Scholar['h5-median']=Median
   
    
    return(Scholar)

In [30]:
df=Scholar('https://scholar.google.com/citations?view_op=top_venues&hl=en')
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]