In [1]:
# import necessary libraries at once

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [3]:
# Getting the webpage of mentioned url 
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [5]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [6]:
# Creating DataFrame from scraped data
Wiki = pd.DataFrame({})
Wiki['Rank']=Rank
Wiki['Name']=Name
Wiki['Artist']=Artist
Wiki['Upload Date']=UploadDate
Wiki['Views']=Views

In [7]:
Wiki

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.93
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.40
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.77
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.77
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.50
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.00
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.45
19,20.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.32
20,21.,"""Girls Like You""[39]",Maroon 5,"May 31, 2018",3.32
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.32
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.11

In [8]:
driver.close()

## 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.

You need to find following details: 

A) Match title (I.e. 1st ODI) 

B) Series 

C) Place 

D) Date 

E) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [18]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)
driver.maximize_window()

In [19]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [20]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

    
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,1st ODI,"Harare Sports Club,",18 AUG 2022,12:45 PM
1,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,2nd ODI,"Harare Sports Club,",20 AUG 2022,12:45 PM
2,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,3rd ODI,"Harare Sports Club,",22 AUG 2022,12:45 PM
3,ASIA CUP 2022,1st T20I,"Dubai International Cricket Stadium,",28 AUG 2022,7:30 PM
4,ASIA CUP 2022,2nd T20I,"Dubai International Cricket Stadium,",31 AUG 2022,7:30 PM
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM

## 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/

You need to find following details: 

A) Name 

B) Description 

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [10]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [12]:
# Getting the webpage of mentioned url 
url=('https://www.guru99.com/')
driver.get(url)
driver.maximize_window()

WebDriverException: Message: unknown error: failed to change window state to 'normal', current state is 'maximized'
  (Session info: MicrosoftEdge=104.0.1293.54)
Stacktrace:
Backtrace:
	Microsoft::Applications::Events::EventProperties::unpack [0x00007FF67ACC6252+24642]
	Microsoft::Applications::Events::GUID_t::GUID_t [0x00007FF67AC199A2+334098]
	Ordinal0 [0x00007FF67A7B7915+620821]
	Ordinal0 [0x00007FF67A79CBBD+510909]
	Ordinal0 [0x00007FF67A79A7B6+501686]
	Ordinal0 [0x00007FF67A799ED4+499412]
	Ordinal0 [0x00007FF67A839166+1151334]
	Ordinal0 [0x00007FF67A80EE9A+978586]
	Ordinal0 [0x00007FF67A82306F+1060975]
	Ordinal0 [0x00007FF67A80ECB3+978099]
	Ordinal0 [0x00007FF67A7E5F00+810752]
	Ordinal0 [0x00007FF67A7E7508+816392]
	Microsoft::Applications::Events::EventProperty::EventProperty [0x00007FF67AA7D558+135480]
	Microsoft::Applications::Events::EventProperty::EventProperty [0x00007FF67AA64C57+34871]
	Microsoft::Applications::Events::EventProperty::EventProperty [0x00007FF67AA67CDC+47292]
	Microsoft::Applications::Events::EventProperty::to_string [0x00007FF67A8C11B6+23222]
	Microsoft::Applications::Events::GUID_t::GUID_t [0x00007FF67AC20EAB+364059]
	Microsoft::Applications::Events::GUID_t::GUID_t [0x00007FF67AC258E4+383060]
	Microsoft::Applications::Events::GUID_t::GUID_t [0x00007FF67AC25A3D+383405]
	Microsoft::Applications::Events::time_ticks_t::time_ticks_t [0x00007FF67AC3034E+39918]
	BaseThreadInitThunk [0x00007FF8D2757034+20]
	RtlUserThreadStart [0x00007FF8D2DA2651+33]

## 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url =https://www.statisticstimes.com/

You have to find following details: 

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [23]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [24]:
driver.maximize_window()
driver.get('https://www.statisticstimes.com')
time.sleep(3)

In [25]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [27]:
 #Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [28]:
#Clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()

In [29]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [30]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [31]:
driver.close()

## 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/

You have to find the following details: 

A) Repository title 

B) Repository description 

C) Contributors count 

D) Language used ASSIGNMENT 

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [32]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [33]:
driver.maximize_window()
url=('https://github.com/')
driver.get(url)

In [34]:
# Click on explore

explore = driver.find_element(By.XPATH,'//li[@class = "mr-0 mr-lg-3 position-relative flex-wrap flex-justify-between flex-items-center border-bottom border-lg-bottom-0 d-block d-lg-flex flex-lg-nowrap flex-lg-items-center"][4]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [35]:
# Click on Trending

trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [36]:
#Creating empty list
#Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [37]:
#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [38]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [39]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [40]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [41]:
#DATA FRAMEING
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,15,"[TypeScript, JavaScript, CSS, SCSS, HTML, Shell]"
1,jwasham / coding-interview-university,A complete computer science study plan to beco...,255,[]
2,iptv-org / iptv,Collection of publicly available IPTV channels...,181,"[JavaScript, Shell]"
3,ventoy / Ventoy,A new bootable USB solution.,74,"[C, Shell, HTML, C++, CSS, Makefile, Other]"
4,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,"1,027","[C++, C, Python, Shell, JavaScript, HTML, Other]"
5,Dreamacro / clash,A rule-based tunnel in Go.,79,"[Go, Other]"
6,arthurspk / guiadevbrasil,GUIA EXTENSO DE PROGRAMAÇÃO:,50,[]
7,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,115,"[Python, Shell]"
8,MatrixTM / MHDDoS,"Best DDoS Attack Script Python3, (Cyber / DDos...",25,"[Python, Dockerfile]"
9,t3-oss / create-t3-app,Quickest way to start a new web app with full ...,57,"[TypeScript, JavaScript, Other]"
10,punk-security / dnsReaper,dnsReaper - subdomain takeover tool for attack...,8,[Python]
11,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,33,"[CSS, C, JavaScript, Makefile, Shell]"
12,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,182,"[Python, HTML, JavaScript, CSS, Shell, Cuda]"
13,utmapp / UTM,Virtual machines for iOS and macOS,40,"[Swift, Objective-C, Python, C, Shell]"
14,theboy181 / switch-ptchtxt-mods,-,-,[]
15,Asabeneh / 30-Days-Of-React,30 Days of React challenge is a step by step g...,8,"[JavaScript, HTML, Other]"
16,github / docs,The open-source repo for docs.github.com,"1,362","[JavaScript, TypeScript, Other]"
17,josephmisiti / awesome-machine-learning,A curated list of awesome Machine Learning fra...,547,[Python]
18,PKUFlyingPig / cs-self-learning,计算机自学指南,43,[HTML]
19,jina-ai / discoart,Create Disco Diffusion artworks in one line,5,"[Python, Jupyter Notebook, Shell, Dockerfile]"
20,trickest / cve,Gather and update all available and newest CVE...,7,"[HTML, Python]"
21,HIT-UG-Group / DeepLearning-MuLi-Notes,Notes about courses Dive into Deep Learning by...,2,[Jupyter Notebook]
22,hyprwm / Hyprland,Hyprland is a dynamic tiling Wayland composito...,40,"[C++, Nix, Other]"
23,EbookFoundation / free-programming-books,📚 Freely available programming books,"1,988",[]
24,moyix / fauxpilot,FauxPilot - an open-source GitHub Copilot server,3,"[Python, Shell, Dockerfile]"

In [42]:
driver.close()

## 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

You have to find the following details: 

A) Song name 

B) Artist name 

C) Last week rank 

D) Peak rank 

E) Weeks on board 

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [51]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [52]:
driver.maximize_window()
url=('https://www.billboard.com/')
driver.get(url)

In [53]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()

In [46]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [47]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [55]:
#Scrappin Artist name 1 st one

Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

In [57]:
#Remainig Artist Name

artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

In [59]:
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

In [61]:
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [62]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [63]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [64]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [65]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]

In [66]:
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Break My Soul\nBeyonce\n6\n1\n7,Beyonce,6,1,7
1,About Damn Time\nLizzo\n1\n1\n16,Lizzo,1,1,16
2,As It Was\nHarry Styles\n2\n1\n18,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God)\nKate B...,Kate Bush,3,3,30
4,Wait For U\nFuture Featuring Drake & Tems\n5\n...,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...
95,Until I Found You\nStephen Sanchez\n88\n88\n5,Stephen Sanchez,90,82,2
96,Un Ratito\nBad Bunny\n93\n16\n13,Bad Bunny,,,
97,Best Thing Since Backroads\nJake Owen\n72\n72\n4,Jake Owen,-,83,1
98,La Corriente\nBad Bunny & Tony Dize\n100\n32\n10,Bad Bunny & Tony Dize,,,
99,"Bzrp Music Sessions, Vol. 52\nBizarrap & Queve...",Bizarrap & Quevedo,80,80,11

In [67]:
driver.close()

## 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [68]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [70]:
driver.maximize_window()
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [71]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [72]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'/html/body/div[1]/div/ul/li[2]/a')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [74]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()     
time.sleep(3)

In [75]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [77]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)
#Scraping data of Designation

In [78]:
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)
#Scraping data of company name
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)

#Scraping data of locations
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]//span"):
    Location.append(i.text)
time.sleep(3)

In [79]:
print(len(Name),len(Designation),len(Company),len(Location))

50 50 50 150

In [80]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Location'] = Location[:50]
Naukri

,Name,Designation,Company,Location
0,Rajiv Raj,Director,CreditVidya,Rajiv Raj
1,Sharmistha Maity,Company Recruiter,ICA Edu Skills Pvt. Ltd.,Director
2,Malvika Bhandari,Talent Acquisition Consultant,IMS Proschool Pvt. Ltd,Mumbai
3,Fgts Recruitment,Company Recruiter,FUSION GLOBAL TECHNOLOGIES AND SOLUTIONS...,Sharmistha Maity
4,Vineet P,Opportunity Communicator,Dell Technologies,Company Recruiter
5,Silky Sethi,Company Recruiter,ZS Associates {India} Pvt Ltd,Kolkata
6,Tracy Raina,Senior HR Executive,Quatrro Global Services Pvt. Ltd.,Malvika Bhandari
7,HR Carzonrent,Company Recruiter,Carzonrent (India) Pvt Ltd,Talent Acquisition Consultant
8,Deepti Nagle,Recruitment Executive,Nityo Infotech Services Pvt. Ltd.,Pune
9,Raily Ghosh,Associate Manager Human Resources,ncyclo Corporation,Fgts Recruitment
10,Aakash Harit,HR Manager,Data Science Network,Company Recruiter
11,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Chennai
12,Prhemnath N R,Assistant Manager,Enfosys Pvt Ltd,Vineet P
13,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Opportunity Communicator
14,Urvi Kumar,Talent Recruiter,Augment Systems Pvt Ltd,Bengaluru / Bangalore
15,subhas patel,Founder CEO,LibraryXProject,Silky Sethi
16,Rohan Aditya Gupta,Manager Human Resources,Atria Institute of Technology,Company Recruiter
17,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Pune
18,Kalpana Dumpala,Executive Hiring,Innominds Software,Tracy Raina
19,Bhavani Tannedi,Senior Technical Recruiter,Intelliswift Software,Senior HR Executive
20,Archana,Human Resource,SRIT India pvt ltd,Gurgaon
21,Mubarak,Company HR,MoneyTap,HR Carzonrent
22,Rajesh Kumar Sahu,Company HR,Excellent Academy,Company Recruiter
23,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Delhi
24,Kranti Singh,Company HR,Megamax Global Solutions Pvt. Ltd.,Deepti Nagle
25,Sreekanth Putsala,Company HR,Aquilus International Pvt Ltd,Recruitment Executive
26,Chayya Jain,Company HR,GeeksforGeeks,Pune
27,Welson James,Company HR,premierhealthcare,Raily Ghosh
28,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Associate Manager Human Resources
29,Kapil Devang,HR Manager,BISP Solutions,Hyderabad / Secunderabad
30,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Aakash Harit
31,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,HR Manager
32,Institute for Financial Management and Resear,Programme Manager,IFMR,Delhi
33,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,MARSIAN Technologies LLP
34,Manisha Yadav,HR Executive,Easi Tax,Company HR
35,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Pune
36,Helpageyouth Foundation,HR Executive,HelpageYouth Foundation,Prhemnath N R
37,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Assistant Manager
38,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,che
39,Divyangana Singh,HR Executive,DIGIGRAINS,Vaishnavi Kudalkar
40,Anusha B,HR Manager,IndOz TechSol,HR Executive
41,Rithika dadwal,HR Recruiter,Affine Analytics,Mumbai
42,Akshatha TY,HR executive,square n cube,Urvi Kumar
43,Deepak Yadav,Manager HR Administration,Synopsis Recruiters,Talent Recruiter
44,Manu Jain,HR Manager,Tech Mahindra Limited,Delhi
45,Jagjyot Singh,HR Manager,Amazon,subhas patel
46,Rashmi S,HR Executive Talent Acquisition,Prolim Corporation,Founder CEO
47,Poly Das,IT Recruiter,Intertec Softwares,UK - (london)
48,Hemavathy Balachandran,HR Recruiter,Admatic Solutions,Rohan Aditya Gupta
49,Uday Kumar Goparaju,HR Coordinator,CoreCompete Pvt Ltd,Manager Human Resources

In [81]:
driver.close()

## Q8: Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [82]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [83]:
driver.maximize_window()
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.get(url)
time.sleep(2)

In [84]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [85]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)
#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [86]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [87]:
driver.close()

## Q9: Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [88]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [89]:
driver.maximize_window()
url=('https://www.imdb.com/list/ls095964455/')
driver.get(url)
time.sleep(2)

In [90]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [91]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,020,928"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,117,040"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,592"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,878"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,476"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,263"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,147"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,389"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,802"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,284"

In [92]:
driver.close()

## Q10: Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [2]:
driver = webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [3]:
driver.maximize_window()
url=('https://archive.ics.uci.edu/')
driver.get(url)
time.sleep(2)

In [4]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [5]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [6]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [7]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [8]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [9]:
# Creating dataframe for scraped data
ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:643]
ML['Data Type'] = Data_type[:643]
ML['Task'] = Task[:643]
ML['Attribute type'] = Attribute_type[:643]
ML['No of instance'] = No_of_instances
ML['No of attributes'] = No_of_attributes[:643]
ML['Year'] = Year[:643]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990