In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'selenium'

In [3]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.3.0-py3-none-any.whl (981 kB)
Collecting trio~=0.17
  Downloading trio-0.21.0-py3-none-any.whl (358 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.2.0 selenium-4.3.0 trio-0.21.0 trio-websocket-0.9.2 wsproto-1.1.0

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

#You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [6]:
#write on search bar
search_job.send_keys('Data Analyst')

In [7]:
#finding web element for search icon bar using relative xpath
search_locn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [8]:
#finding web element for job locn on bar
search_locn.send_keys('Bangalore')

In [9]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [10]:
#getting the job title
job_title=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)

In [11]:
#getting job location
job_location=[]

job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)

In [12]:
#getting company name
company=[]

comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])

In [13]:
#Experience
exp=[]

expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)
driver.close()

In [14]:
#Creaing the data frame to get top 10 results

data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
3,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
4,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
5,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,2-5 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
9,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Meesho,3-6 Yrs

In [15]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

#You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [16]:
url = 'https://www.naukri.com/'
driver.get(url)

In [17]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [18]:
#write on search bar
search_job.send_keys('Data Scientist')

In [19]:
#finding web element for search icon bar using relative xpath
search_locn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [20]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [21]:
job_title=[]
job_location=[]
company=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
    
job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
    
comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
    
driver.close()

In [22]:
#Creating data frame to get to 10 jobs data
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company})
data

,Job-Title,Job-Location,Company_Name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Data Scientist,Bangalore/Bengaluru,Applied Materials
3,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
4,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
5,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
6,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
7,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
8,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm
9,EY GBS - Assistant Director - Data Science (10...,Bangalore/Bengaluru,EYGBS

In [23]:
#Q3: In this question you have to scrape data using the filters available on the webpage

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [24]:
url = 'https://www.naukri.com/'
driver.get(url)

In [25]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [26]:
#write on search bar
search_job.send_keys('Data Scientist')

In [27]:
#finding web element for search icon bar using relative xpath
search_btn=driver.find_element(By.XPATH, '/html/body/div/div[2]/div[3]/div/div/div[6]')

In [28]:
search_btn.click()

In [29]:
loc_filter=driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')

In [30]:
loc_filter.click()

In [31]:
sal_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')

In [32]:
sal_filter.click()

In [33]:
job_title=[]
job_location=[]
company=[]
exp=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
    
job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
    
comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
    
expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)

    
driver.close()

In [34]:
#Creating data frame to get the result
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

In [35]:
# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

#Brand
#Product Description
#Price

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [36]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [37]:
time.sleep(3)

In [38]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [39]:
search_tag=driver.find_element(By.CLASS_NAME, "_3704LK")
search_tag.send_keys("Sunglasses")

In [40]:
search_button=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [41]:
# creating required list for processing
brand=[]
product_dis=[]
price=[]
discount=[]

#Defining a function that include scrapping functions
def scrap():
    
    brnd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd:
        if(len(brand)==100):
            break
        else:
            brand.append(i.text)
        dis=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
        for i in dis:
            if(len(product_dis)==100):
                break
            else:
                product_dis.append(i.text)
        pri=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        for j in pri:
            if(len(price)==100):
                break
            else:
                price.append(j.text)
        dis=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
        for j in dis:
            if(len(discount)==100):
                break
            else:
                discount.append(j.text)

#now we are going to 100 sunglasses 
for i in range(0,3):
    if(i==0):
        scrap()
    elif i==1:
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        time.sleep(3)
        scrap()
    elif(i==2):
        driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
        time.sleep(3)
        scrap()
driver.close()

In [42]:
Sunglass=pd.DataFrame({'Brand':brand,'Product Details':product_dis,'Price':price,'Discount':discount})
Sunglass

,Brand,Product Details,Price,Discount
0,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379,81% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
...,...,...,...,...
95,ROYAL SON,UV Protection Retro Square Sunglasses (Free Size),₹319,68% off
96,New Specs,UV Protection Aviator Sunglasses (58),₹359,86% off
97,PIRASO,"UV Protection, Gradient Retro Square Sunglasse...",₹331,83% off
98,Singco India,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
99,ROYAL SON,"Polarized, Riding Glasses, Night Vision Sports...",₹499,78% off

In [43]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
#This task will be done in following steps:

#First get the webpage https://www.flipkart.com/
#Enter “iphone 11” in “Search” field .
#Then click the search button.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [44]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [45]:
time.sleep(3)

In [46]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [47]:
search_tag=driver.find_element(By.CLASS_NAME,"_3704LK")
search_tag.send_keys("iphone 11")

In [48]:
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [51]:
#Now get the newly opened window
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [52]:
rating=[]
review_sum=[]
review_dis=[]

j=1
def i_scrap():
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    rdis=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rdis:
        review_dis.append(i.text)
i_scrap()
next_b=driver.find_elements(By.CLASS_NAME,"ge-49M")
for b in next_b:
    i_scrap()
len(rating)

110

In [53]:
iphone_rating=pd.DataFrame({'Rating':rating,'Review_Summery':review_sum,'Review_Disciption':review_dis})
iphone_rating[:100]

,Rating,Review_Summery,Review_Disciption
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

In [2]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [3]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [4]:
time.sleep(3)

In [5]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [6]:
search_tag=driver.find_element(By.CLASS_NAME,"_3704LK")
search_tag.send_keys("sneakers")

In [7]:
time.sleep(3)

In [8]:
search_button=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [9]:
brand=[]
product_dis=[]
price=[]
discount=[]

#Defining a function that include scrapping functions
def scrap():
    
    brnd=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brnd:
        if(len(brand)==100):
            break
        else:
            brand.append(i.text)
        dis=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
        for i in dis:
            if(len(product_dis)==100):
                break
            else:
                product_dis.append(i.text)
        pri=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
        for j in pri:
            if(len(price)==100):
                break
            else:
                price.append(j.text)
        dis=driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
        for j in dis:
            if(len(discount)==100):
                break
            else:
                discount.append(j.text)

#now we are going to 100 sunglasses 
for i in range(0,3):
    if(i==0):
        scrap()
    elif i==1:
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        time.sleep(3)
        scrap()
    elif(i==2):
        driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
        time.sleep(3)
        scrap()
        
driver.close()

In [10]:
# Creating one data fram using scrapped data             
sneakers=pd.DataFrame({'Brand':brand,'Product Details':product_dis,'Price':price,'Discount':discount})
sneakers

,Brand,Product Details,Price,Discount
0,ROCKFIELD,Sneakers For Men,₹539,64% off
1,ZF - ALFIYA,Sneakers For Men,₹449,55% off
2,WOODLAND,Sneakers For Men,"₹1,797",40% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284,78% off
4,PUMA,Puma Smash v2 L Sneakers For Men,"₹1,658",52% off
...,...,...,...,...
95,KEYTAR,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹449,77% off
96,KNIGHT WALKERS,Sneakers For Men,₹449,55% off
97,corsac,Luxury Fashionable casual sneaker shoes Sneake...,₹539,46% off
98,Roadster,Puma Smash v2 L Sneakers For Men,₹539,46% off
99,KEYTAR,Sneakers For Men,₹664,66% off

In [22]:
#Q7: Go to webpage https://www.amazon.in/

#Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

#Title
#Ratings
#Price

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [23]:
url = 'https://www.amazon.in/'
driver.get(url)

In [24]:
time.sleep(3)

In [25]:
amazon_searchtext=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
amazon_searchtext.send_keys("Laptop")

In [26]:
time.sleep(3)

In [27]:
driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [28]:
driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[12]/span/a/span').click()

In [29]:
lap_title=[]
lap_pri=[]
lap_rate=[]
#def lap_scrap():
ti=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in ti:
    if(len(lap_title)==10):
        break
    else:
        lap_title.append(i.text)
rt=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
for i in rt:
    if(len(lap_rate)==10):
        break
    else:
        lap_rate.append(i.get_attribute('aria-label'))

pr=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pr:
    if(len(lap_pri)==10):
        break
    else:
        lap_pri.append(i.text)
        
driver.close()

In [30]:
lap=pd.DataFrame({'Lap Titile':lap_title,'Lap Price':lap_pri,'Lap Rating':lap_rate})
lap

,Lap Titile,Lap Price,Lap Rating
0,HP 15s 12thGen IntelCore i5 8GB RAM/512GB SSD ...,"54,290",4.2 out of 5 stars
1,Acer Aspire 5 A515-56 Thin and Light Laptop | ...,"47,990",3.7 out of 5 stars
2,Mi Notebook Pro Qhd+ IPS Anti Glare Display In...,"57,990",4.3 out of 5 stars
3,"Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6"" ...","36,990",4.2 out of 5 stars
4,Lenovo ThinkBook 15 Intel 11th Gen Core i5 15....,"59,990",4.0 out of 5 stars
5,Lenovo IdeaPad Slim 3 10th Gen Intel Core i5 1...,"45,990",4.2 out of 5 stars
6,Hp 15S 11Th Gen Intel Core I5 15.6 Inches Fhd ...,"52,490",4.1 out of 5 stars
7,Mi Notebook Ultra 3.2K Resolution Display Inte...,"61,990",4.2 out of 5 stars
8,"MSI Modern 14, Intel i5-10210U, 14"" FHD IPS-Le...","41,990",4.2 out of 5 stars
9,"Lenovo ThinkBook 14 Intel Core i5 11th Gen 14""...","55,990",3.4 out of 5 stars

In [31]:
#Q8: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.

#You have to scrape company name, No. of days ago when job was posted, Rating of the company.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [32]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [33]:
driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]").click()

In [34]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

In [35]:
driver.find_element(By.CLASS_NAME,"ctas-btn-medium").click()

In [36]:
driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]").click()

In [37]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [38]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [39]:
time.sleep(3)

In [40]:
company=[]
no_day=[]
com_rating=[]
com=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in com:
    company.append(i.text.split('\n')[0])
    if len(com_rating)==0:
        com_rating.append(i.text.split('\n')[2])
    else:
        com_rating.append(i.text.split('\n')[1])
com_rating=com_rating[:10]
company=company[:10]
days=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in days:
    no_day.append(i.text.split(','))
no_day=no_day[0::2]

driver.close()

In [41]:
jobs=pd.DataFrame({'Company':company,'Company Rating':com_rating,'No of Days ago':no_day})
jobs

,Company,Company Rating,No of Days ago
0,Optum Global Solutions (India) Private Limited,4.1,[9d ago]
1,Optum Global Solutions (India) Private Limited,4.1,[16d ago]
2,GENPACT India Private Limited,4.0,[7d ago]
3,Dew Solutions Pvt. Ltd.,4.3,[14d ago]
4,InfoEdge India Ltd.,3.9,[15d ago]
5,Info Edge India Limited,3.9,[15d ago]
6,Info Edge India Limited,3.9,[15d ago]
7,Latent bridge,4.5,[2d ago]
8,Careerera,3.8,[29d ago]
9,Careernet Consulting,3.9,[15d ago]

In [42]:
#Q9: Write a python program to scrape the salary data for Data Scientist designation.

#You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

#connect to the web driver

driver=webdriver.Edge(r'C:\Users\srpandey\Downloads\edgedriver_win64\msedgedriver.exe')

In [43]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [44]:
driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]").click()

In [45]:
driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')

In [46]:
#now  we want to extract all  the  10 comapny names here 
company_names=[]
co_nametag= driver.find_elements(By.XPATH,'//div[@class="company-info"]/a')

for i in  co_nametag:
    com_name=(i.text.split('\n')[0])
    company_names.append(com_name)
company_names

['Google',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Tekion',
 'Amazon',
 'Servicenow Software Development India',
 'Flipkart',
 'Walmart',
 'PayPal',
 'Myntra']

In [47]:
#Now we will fetch the min, avg and max Salary
avg_sal=[]
min_sal=[]
max_sal=[]
asal=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in asal:
    avg_sal.append(i.text)
misal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in misal:
    min_sal.append(i.text)
max_sal=min_sal[1::2]
min_sal=min_sal[0::2]

In [48]:
#now  we  will  be fetching  the  experience   here 
company_exp=[]
exp_tag= driver.find_elements(By.XPATH, '//div[@class="sbold-list-header"]')
for i in exp_tag:
    com_exp=i.text
    company_exp.append(com_exp)
company_exp

['1-3 yrs experience (based on 35 salaries)',
 '1-4 yrs experience (based on 274 salaries)',
 '2 yrs experience (based on 18 salaries)',
 '2-4 yrs experience (based on 35 salaries)',
 '1-4 yrs experience (based on 122 salaries)',
 '2-4 yrs experience (based on 60 salaries)',
 '1-4 yrs experience (based on 64 salaries)',
 '1-4 yrs experience (based on 87 salaries)',
 '1-2 yrs experience (based on 29 salaries)',
 '1 yr experience (based on 10 salaries)']

In [49]:
salary = pd.DataFrame({})

salary['Comapnay_names']=company_names
salary['minimum_salary']=min_sal
salary['Average_salary']=avg_sal
salary['Maximum_salary']=max_sal
salary['Experiences_req']=company_exp
salary

,Comapnay_names,minimum_salary,Average_salary,Maximum_salary,Experiences_req
0,Google,₹ 11.0L,₹ 31.3L,₹ 65.0L,1-3 yrs experience (based on 35 salaries)
1,Microsoft Corporation,₹ 13.0L,₹ 24.0L,₹ 50.0L,1-4 yrs experience (based on 274 salaries)
2,Goldman Sachs,₹ 12.0L,₹ 23.0L,₹ 34.0L,2 yrs experience (based on 18 salaries)
3,Tekion,₹ 12.0L,₹ 21.2L,₹ 33.0L,2-4 yrs experience (based on 35 salaries)
4,Amazon,₹ 8.0L,₹ 21.0L,₹ 45.0L,1-4 yrs experience (based on 122 salaries)
5,Servicenow Software Development India,₹ 13.0L,₹ 20.5L,₹ 28.0L,2-4 yrs experience (based on 60 salaries)
6,Flipkart,₹ 7.5L,₹ 20.4L,₹ 31.0L,1-4 yrs experience (based on 64 salaries)
7,Walmart,₹ 11.4L,₹ 20.0L,₹ 32.5L,1-4 yrs experience (based on 87 salaries)
8,PayPal,₹ 11.0L,₹ 19.9L,₹ 31.0L,1-2 yrs experience (based on 29 salaries)
9,Myntra,₹ 14.0L,₹ 19.5L,₹ 27.0L,1 yr experience (based on 10 salaries)